In [1]:
# Importing dependencies
from sklearn import datasets
import pandas as pd

# Loading a toy dataset into a DataFrame
data = datasets.load_breast_cancer()
data_df = pd.DataFrame(data=data.data, columns=data.feature_names)
data_df

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [2]:
# Splitting the dataset into arbitrary sets of features
data_df1 = data_df[data.feature_names[:5]]
data_df2 = data_df[data.feature_names[5:10]]
data_df3 = data_df[data.feature_names[10:17]]
data_df4 = data_df[data.feature_names[17:30]]
target_df = pd.DataFrame(data=data.target, columns=["target"])
target_df

     target
0         0
1         0
2         0
3         0
4         0
..      ...
564       0
565       0
566       0
567       0
568       1

[569 rows x 1 columns]

In [3]:
# Creating timestamps for the data
timestamps = pd.date_range(
    end=pd.Timestamp.now(), 
    periods=len(data_df), 
    freq='D').to_frame(name="event_timestamp", index=False)
timestamps

               event_timestamp
0   2021-05-18 22:28:59.936839
1   2021-05-19 22:28:59.936839
2   2021-05-20 22:28:59.936839
3   2021-05-21 22:28:59.936839
4   2021-05-22 22:28:59.936839
..                         ...
564 2022-12-03 22:28:59.936839
565 2022-12-04 22:28:59.936839
566 2022-12-05 22:28:59.936839
567 2022-12-06 22:28:59.936839
568 2022-12-07 22:28:59.936839

[569 rows x 1 columns]

In [4]:
# Adding the timestamp column to each DataFrame
data_df1 = pd.concat(objs=[data_df1, timestamps], axis=1)
data_df2 = pd.concat(objs=[data_df2, timestamps], axis=1)
data_df3 = pd.concat(objs=[data_df3, timestamps], axis=1)
data_df4 = pd.concat(objs=[data_df4, timestamps], axis=1)
target_df = pd.concat(objs=[target_df, timestamps], axis=1)
target_df

     target            event_timestamp
0         0 2021-05-18 22:28:59.936839
1         0 2021-05-19 22:28:59.936839
2         0 2021-05-20 22:28:59.936839
3         0 2021-05-21 22:28:59.936839
4         0 2021-05-22 22:28:59.936839
..      ...                        ...
564       0 2022-12-03 22:28:59.936839
565       0 2022-12-04 22:28:59.936839
566       0 2022-12-05 22:28:59.936839
567       0 2022-12-06 22:28:59.936839
568       1 2022-12-07 22:28:59.936839

[569 rows x 2 columns]

In [5]:
# Creating a list of arbitrary IDs for feature rows
patient_ids = pd.DataFrame(data=list(range(len(data_df))), columns=["patient_id"])

# Adding the timestamp column to each DataFrame
data_df1 = pd.concat(objs=[data_df1, patient_ids], axis=1)
data_df2 = pd.concat(objs=[data_df2, patient_ids], axis=1)
data_df3 = pd.concat(objs=[data_df3, patient_ids], axis=1)
data_df4 = pd.concat(objs=[data_df4, patient_ids], axis=1)
target_df = pd.concat(objs=[target_df, patient_ids], axis=1)
target_df

     target            event_timestamp  patient_id
0         0 2021-05-18 22:28:59.936839           0
1         0 2021-05-19 22:28:59.936839           1
2         0 2021-05-20 22:28:59.936839           2
3         0 2021-05-21 22:28:59.936839           3
4         0 2021-05-22 22:28:59.936839           4
..      ...                        ...         ...
564       0 2022-12-03 22:28:59.936839         564
565       0 2022-12-04 22:28:59.936839         565
566       0 2022-12-05 22:28:59.936839         566
567       0 2022-12-06 22:28:59.936839         567
568       1 2022-12-07 22:28:59.936839         568

[569 rows x 3 columns]

In [6]:
# Inspecting the feature DataFrames
data_df1

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,event_timestamp,patient_id
0,17.99,10.38,122.80,1001.0,0.11840,2021-05-18 22:28:59.936839,0
1,20.57,17.77,132.90,1326.0,0.08474,2021-05-19 22:28:59.936839,1
2,19.69,21.25,130.00,1203.0,0.10960,2021-05-20 22:28:59.936839,2
3,11.42,20.38,77.58,386.1,0.14250,2021-05-21 22:28:59.936839,3
4,20.29,14.34,135.10,1297.0,0.10030,2021-05-22 22:28:59.936839,4
...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,2022-12-03 22:28:59.936839,564
565,20.13,28.25,131.20,1261.0,0.09780,2022-12-04 22:28:59.936839,565
566,16.60,28.08,108.30,858.1,0.08455,2022-12-05 22:28:59.936839,566
567,20.60,29.33,140.10,1265.0,0.11780,2022-12-06 22:28:59.936839,567
568,7.76,24.54,47.92,181.0,0.05263,2022-12-07 22:28:59.936839,568

In [7]:
data_df2

,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,event_timestamp,patient_id
0,0.27760,0.30010,0.14710,0.2419,0.07871,2021-05-18 22:28:59.936839,0
1,0.07864,0.08690,0.07017,0.1812,0.05667,2021-05-19 22:28:59.936839,1
2,0.15990,0.19740,0.12790,0.2069,0.05999,2021-05-20 22:28:59.936839,2
3,0.28390,0.24140,0.10520,0.2597,0.09744,2021-05-21 22:28:59.936839,3
4,0.13280,0.19800,0.10430,0.1809,0.05883,2021-05-22 22:28:59.936839,4
...,...,...,...,...,...,...,...
564,0.11590,0.24390,0.13890,0.1726,0.05623,2022-12-03 22:28:59.936839,564
565,0.10340,0.14400,0.09791,0.1752,0.05533,2022-12-04 22:28:59.936839,565
566,0.10230,0.09251,0.05302,0.1590,0.05648,2022-12-05 22:28:59.936839,566
567,0.27700,0.35140,0.15200,0.2397,0.07016,2022-12-06 22:28:59.936839,567
568,0.04362,0.00000,0.00000,0.1587,0.05884,2022-12-07 22:28:59.936839,568

In [8]:
data_df3

,radius error,texture error,perimeter error,area error,smoothness error,compactness error,concavity error,event_timestamp,patient_id
0,1.0950,0.9053,8.589,153.40,0.006399,0.04904,0.05373,2021-05-18 22:28:59.936839,0
1,0.5435,0.7339,3.398,74.08,0.005225,0.01308,0.01860,2021-05-19 22:28:59.936839,1
2,0.7456,0.7869,4.585,94.03,0.006150,0.04006,0.03832,2021-05-20 22:28:59.936839,2
3,0.4956,1.1560,3.445,27.23,0.009110,0.07458,0.05661,2021-05-21 22:28:59.936839,3
4,0.7572,0.7813,5.438,94.44,0.011490,0.02461,0.05688,2021-05-22 22:28:59.936839,4
...,...,...,...,...,...,...,...,...,...
564,1.1760,1.2560,7.673,158.70,0.010300,0.02891,0.05198,2022-12-03 22:28:59.936839,564
565,0.7655,2.4630,5.203,99.04,0.005769,0.02423,0.03950,2022-12-04 22:28:59.936839,565
566,0.4564,1.0750,3.425,48.55,0.005903,0.03731,0.04730,2022-12-05 22:28:59.936839,566
567,0.7260,1.5950,5.772,86.22,0.006522,0.06158,0.07117,2022-12-06 22:28:59.936839,567
568,0.3857,1.4280,2.548,19.15,0.007189,0.00466,0.00000,2022-12-07 22:28:59.936839,568

In [9]:
data_df4

,concave points error,symmetry error,fractal dimension error,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,event_timestamp,patient_id
0,0.01587,0.03003,0.006193,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,2021-05-18 22:28:59.936839,0
1,0.01340,0.01389,0.003532,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,2021-05-19 22:28:59.936839,1
2,0.02058,0.02250,0.004571,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,2021-05-20 22:28:59.936839,2
3,0.01867,0.05963,0.009208,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,2021-05-21 22:28:59.936839,3
4,0.01885,0.01756,0.005115,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,2021-05-22 22:28:59.936839,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,0.02454,0.01114,0.004239,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,2022-12-03 22:28:59.936839,564
565,0.01678,0.01898,0.002498,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,2022-12-04 22:28:59.936839,565
566,0.01557,0.01318,0.003892,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,2022-12-05 22:28:59.936839,566
567,0.01664,0.02324,0.006185,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,2022-12-06 22:28:59.936839,567
568,0.00000,0.02676,0.002783,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,2022-12-07 22:28:59.936839,568

In [10]:
# Inspecting the target DataFrame
target_df

     target            event_timestamp  patient_id
0         0 2021-05-18 22:28:59.936839           0
1         0 2021-05-19 22:28:59.936839           1
2         0 2021-05-20 22:28:59.936839           2
3         0 2021-05-21 22:28:59.936839           3
4         0 2021-05-22 22:28:59.936839           4
..      ...                        ...         ...
564       0 2022-12-03 22:28:59.936839         564
565       0 2022-12-04 22:28:59.936839         565
566       0 2022-12-05 22:28:59.936839         566
567       0 2022-12-06 22:28:59.936839         567
568       1 2022-12-07 22:28:59.936839         568

[569 rows x 3 columns]

In [11]:
# Writing our DataFrames to parquet files
data_df1.to_parquet(path='breast_cancer/data/data_df1.parquet')
data_df2.to_parquet(path='breast_cancer/data/data_df2.parquet')
data_df3.to_parquet(path='breast_cancer/data/data_df3.parquet')
data_df4.to_parquet(path='breast_cancer/data/data_df4.parquet')
target_df.to_parquet(path='breast_cancer/data/target_df.parquet')